<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-0f030c91-bac1-4c74-9b22-f1945cbc9244;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-0f030c91-bac1-4c74-9b22-f1945cbc9244.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn" connectionString="Data Source=.;Initial Catalog=eRestaurant;Intergrated Security=SSPI" providerName="System.Data.SqlClient"/>
</connectionStrings>